.main-navigation {
	clear: both;
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		margin-left: 20px;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		font-family: Tahoma;
		color: $color__link-nav;
		font-size: 15px;

		&:hover, &:active, &:focus, &:visited {
			color: $color__link-hover;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	position: absolute;
    top: -62px;
	right: 0;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	width: 55px;
    height: 28px;

	&:active, &:focus {
		outline: none;
		border: none;
	}
}

.hamburger, .hamburger::before, .hamburger::after {
	display: block;
    width: 32px;
    height: 3px;
    background: #333;
	border-radius: 30%;
	position: absolute;
	transition: all .3s cubic-bezier(0.58, 0, 0, 1.86);
}

.hamburger::before, .hamburger::after {
	content: '';
}

.hamburger::before {
	top: -5px;
}

.hamburger::after {
	bottom: -5px;
}

.menu-toggle,
.main-navigation.toggled {

	.menu-toggle {
		.opaque{
			opacity: 0;
		}
		.hamburger:before{
			transform: rotate(45deg);
			top: 0;
			opacity: 1;
		}
		.hamburger:after{
			transform: rotate(-45deg);
			bottom: 0;
			opacity: 1;
		}
	}
	ul {
		display: block;

		li {
			padding: 20px 0;
    		border-bottom: 1px dotted #ececec;
		}
	}

}

@media screen and (min-width: $query__medium) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		justify-content: flex-end;

		ul {
			background: white;
			justify-content: flex-start;
			flex-direction: column;

			li {
				margin-top: 20px;

				&:last-of-type {
					margin-bottom: 15px;
				}
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
