.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.widget-title {
	font-size: 15px;
	color: $color__text-widget;
	font-family: Tahoma, sans-serif;
	font-weight: 600;
	padding-bottom: 10px;
	border-bottom: 1px dashed $color__background-hr;
	margin-bottom: 15px;
}

#menu-widget-menu {
	list-style: none;
    margin: 0;
	padding: 0;

	li > a {
		color: $color__text-widget;
		font-size: 13px;

		&:hover {
			color: $color__link-hover;
			text-decoration: none;
		}
	}
}

.footer-logo {
	width: 150px;
}

footer {
	.container.row {
		padding: 0;
		padding-top: 20px;
		margin: 0 auto;
	}
}

#footer-menu {
	margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
	flex-wrap: wrap;
    justify-content: center;

	li {
		margin-right: 15px;
		a {
			font-size: 13px;
			color: #666;
			transition: all .3s ease-in-out;

			&:hover {
				color: $color__link-hover;
				text-decoration: none;
			}
		}
	}
}

.copyright-content {
	font-size: 13px;
	color: #999;
	text-align: center;
	margin-top: 20px;
}

.footer-img-holder {
	display: block;

	a{
		display: block;
		text-align: center;
	}
}

@media screen and ( min-width: $query__medium ) {
	#footer-menu {
		justify-content: flex-start;
		flex-wrap: nowrap;
	}

	.copyright-content {
		text-align: left;
		margin-top: 0;
	}

	.footer-img-holder {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 0;
		a{
			display: inline-block;
			text-align: left;
		}
	}
}

